html, body
{
        background: linear-gradient(white, deepskyblue);
}

.naglowek a:hover
{
	color: cyan;
}

.naglowek2 h3
{
	text-align: center;
	font-size: 1.40vw;
}

.naglowek h3
{
	text-align: center;
	font-size: 1.40vw;
}

.naglowek_home h3
{
	text-align: center;
	font-size: 1.4vw;
}

.logo
{
	width: 100%;
	height: auto;
	text-align: left;
}

.moj_blog
{
	margin-top: 10px;
	width:100%;
	height:auto%;
	text-align:center;
	font-family: "Impact", Charcoal, sans-serif;
	font-size: 2em;
	font-size: 3.5vw;
}

.nav
{
	font-size: 150%;
	font-size: 2.1vw;
	margin-top:10px;
	margin-bottom: 10px;
	width:99%;
	height:auto;
	text-align:center;
	border: 6px solid black;
}

nav > a
{
	text-decoration: none;
	color: blue;
	font-family: "Impact", Charcoal, sans-serif;
}

nav > a:hover
{
	font-size: 90%;
	color: cyan;
}

#baner
{
	width:auto;
	height:auto;
	display: block;
	vertical-align: top;
}

.inline
{
	text-align: center;
	clear: both;
	display: inline;
	width: 100%;
	margin-top: 10px;
}

.naglowek
{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	width:30%;
	height: 30%;
	border: 5px solid black;
	float: left;
	margin-left: 1.9%;
}

.naglowek_home
{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	width:30%;
	height: 400px;
	overflow: scroll;
	border: 5px solid black;
	float: left;
	margin-left: 1.9%;
	padding-left: 5px;
	padding-right: 5px;
	text-align: justify;
	font-size:1.25vw;
	
}

.naglowek tr td a
{
	text-decoration: none;
	font-size: 1em;
	font-size: 1.25vw;
	color: blue;
}
.naglowek2
{
	font-size:1.25vw;
	padding-left: 5px;
	padding-right:5px;
	text-align: justify;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	width:30%;
	height: 400px;
	overflow: scroll;
	border: 5px solid black;
	float: left;
	margin-left: 1.9%;
}

.zdjecie
{
	width:30%;
	height: 30%;
	float: left;
	margin-left: 1.9%;
}

.clear
{
	clear: both;
}

.mapa
{
	margin-top: 10px;
	border: 5px solid black;
	margin-left:3.5%;
	width:90%;
	height:auto;
}
.galeria
{
	text-align: center;
	clear: both;
	display: block;
	width: 75%;
	margin: auto;
	margin-top: 10px;
	height: auto;
}

.zdjecia
{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	padding-top:5px;
	width:45%;
	height: 45%;
	float: left;
	margin-left: 3%;
}

.zdjecia p
{
	font-size: 1.3vw;
	text-align: justify;
	border: 5px solid black;
	padding-left: 5px;
	padding-right: 5px;
}

footer.stopka
{
	font-family: "Comic Sans MS", cursive, sans-serif;
	background-color: lightblue;
	width: 100%;
	height: auto;
	text-align: center;
	border: 2px solid red;
	margin-top: 10px;
}

@media screen and (min-device-width: 320px)
	{
		html, body
		{
		background-color: yellow;
		}
	}
