@media screen and (device-width: 360px) and (orientation: portrait)
	{
		.naglowek_home
		{
			width: 75%;
			margin-left: 10%;
			margin-top: 5px;
		}
		
		.naglowek2
		{
			margin-top: 5px;
			width: 75%;
			margin-left: 10%;
		}
		
		.zdjecie
		{
			margin-top: 5px;
			width: 75%;
			margin-left: 11%;
		}
	}
