html, body
{
	background: linear-gradient(white, deepskyblue);
}

.logo
{
	width: 100%;
	height: auto;
	border: 2px blue solid;
	text-align: left;
	padding-left: 2%;
}

.moj_blog
{
	margin-top: 10px;
	width:100%;
	height:auto;
	border: 2px solid red;
	text-align:center;
}

.nav
{
	font-size: 200%;
	margin-top:10px;
	margin-bottom: 10px;
	width:100%;
	height:auto;
	border:2px solid black;
	text-align:center;
}

nav > a
{
	text-decoration: none;
	color: blue;
	font-family: "Impact", Charcoal, sans-serif;
}

nav > a:hover
{
	font-size: 90%;
	color: cyan;
}

#baner
{
	width:auto;
	height:auto;
	display: block;
	border: 2px solid black;
	vertical-align: top;
}

.inline
{
	text-align: center;
	clear: both;
	display: block;
	width: 100%;
	border: 2px solid red;
	margin-top: 10px;
}

.naglowek
{
	width:30%;
	height: 30px;
	border: 2px solid blue;
	float: left;
	margin-left: 2.2%;
}

.naglowek2
{
	width:30%;
	height: 30px;
	border: 2px solid blue;
	float: left;
	margin-left: 2.2%;
}

.zdjecie
{
	width:30%;
	height: auto;
	border: 2px solid blue;
	float: left;
	margin-left: 2.2%;
}

.clear
{
	clear: both;
}

.galeria
{
	text-align: center;
	clear: both;
	display: block;
	width: 75%;
	margin: auto;
	border: 2px solid red;
	margin-top: 10px;
}

.zdjecia
{
	width:30%;
	height: 30%;
	border: 2px solid blue;
	float: left;
	margin-left: 2.2%;
}

footer.stopka
{
	font-family: "Comic Sans MS", cursive, sans-serif;
	background-color: lightblue;
	width: 100%;
	height: auto;
	text-align: center;
	border: 2px solid red;
	margin-top: 10px;
}
