@media screen and (device-width: 360px) and (orientation: portrait)
	{
		.naglowek_home
		{
			width: 75%;
			margin-left: 10%;
		}
		
		.naglowek2
		{
			margin-top: 1%;
			width: 75%;
			margin-left: 10%;
		}
		
		.zdjecie
		{
			margin-top: 1%;
			width: 75%;
			margin-left: 11%;
		}
		
		.nav a
		{
			font-weight: bold;
		}
	}
