html, body
{
	margin: 0;
        padding:0;
        position:absolute;/* this is very important*/
        bottom:0;
        top:0;
        right:0;
        left:0;
        background: linear-gradient(white, deepskyblue);
}

.logo
{
	width: 100%;
	height: auto;
	text-align: left;
	padding-left: 2%;
}

.moj_blog
{
	margin-top: 10px;
	width:100%;
	height:auto%;
	text-align:center;
	font-family: "Impact", Charcoal, sans-serif;
	font-size: 2.5em;
}

.nav
{
	font-size: 180%;
	margin-top:10px;
	margin-bottom: 10px;
	width:100%;
	height:auto;
	border:10px solid black;
	text-align:center;
}

nav > a
{
	text-decoration: none;
	color: blue;
	font-family: "Impact", Charcoal, sans-serif;
}

nav > a:hover
{
	font-size: 90%;
	color: cyan;
}

#baner
{
	width:auto;
	height:auto;
	display: block;
	border: 2px solid black;
	vertical-align: top;
}

.inline
{
	text-align: center;
	clear: both;
	display: block;
	width: 100%;
	border: 2px solid red;
	margin-top: 10px;
}

.naglowek
{
	width:30%;
	height: 30px;
	border: 2px solid blue;
	float: left;
	margin-left: 2.2%;
}

.naglowek2
{
	width:30%;
	height: 30px;
	border: 2px solid blue;
	float: left;
	margin-left: 2.2%;
}

.zdjecie
{
	width:30%;
	height: auto;
	float: left;
	margin-left: 2.2%;
}

.clear
{
	clear: both;
}

.galeria
{
	text-align: center;
	clear: both;
	display: block;
	width: 75%;
	margin: auto;
	margin-top: 10px;
	height: auto;
}

.zdjecia
{
	padding-top:5px;
	width:45%;
	height: 45%;
	float: left;
	margin-left: 3%;
}

footer.stopka
{
	font-family: "Comic Sans MS", cursive, sans-serif;
	background-color: lightblue;
	width: 100%;
	height: auto;
	text-align: center;
	border: 2px solid red;
	margin-top: 10px;
}
